@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

.App {
  text-align: center;
  font-family: 'Rubik Dirt', cursive;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar{
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.Logo{
  width: 110px;
  height: auto;
}

.container-products{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}